@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #121212;
    color: white;
}

header {
    background: #3e2723;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #ffcc80;
}

h2 {
    text-align: center;
    margin: 40px 0;
    font-size: 32px;
    color: #ffcc80;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    padding: 0 50px 50px;
}

.card {
    background: #1f1f1f;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
    transition: 0.4s;
    text-align: center;
    padding-bottom: 20px;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    margin: 15px 0 5px;
    color: #ffcc80;
}

.kategori {
    color: #bbb;
    font-size: 14px;
}

.card h4 {
    margin: 10px 0;
    color: #4caf50;
}

.card p {
    padding: 0 15px;
    font-size: 14px;
    color: #ccc;
}

button {
    margin-top: 10px;
    background: linear-gradient(45deg, #ff9800, #ff5722);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}
